.header_section {
    position: absolute;
    width: 101.62px;
    height: 23px;
    top: 40px;
    left: 669px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.main {
}
.main_text {
    margin-top: 380px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#FFFFFF;
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 6px;
    text-align: center;
}
.main_offer {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}
.nav {
    margin-top: 221px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.nav_item {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 4px;
    text-align: center;
}
body{
    width: 1438px;
    height: 769px;
    background-image: url("bg.png");
    background-repeat: no-repeat;
}
